<head>
    <meta charset="utf-8">
    <title>Edit Post</title>
</head>
<body>

    <form method="post">
        <p>Title:</p> 
        <input type="text" name="title" value= "<%= title %>" ><br><br>
        <p>Message:</p> 
        <textarea type="text" name="message" cols="40" rows="10" ><%= message %></textarea><br>        
        <p>Author: <%= author %></p>
        <p>Date: <%= date %></p>
        <button type="submit" name="post">Post</button>
        <a href = "http://127.0.0.1:3000/post"><button name="cancel">Cancel</button></a>
    </form>
</body>