<!DOCTYPE html>
<html>
<head>
    <meta charset="uft-8">
    <title>OOOOPS!</title>
    <link rel="icon" href="/png/favicon.png">
</head>
<body>
    <p><%= msg %></p>
    <a href = "http://127.0.0.1:3000/"><button>Back Home</button></a>
</body> 
</html>