<!DOCTYPE html>
<html>
<head>
    <meta charset="uft-8">
    <title>OOOOPS!</title>
    <link rel="icon" href="/png/favicon.png">
</head>
<body>
    <p><%= msg %></p>

    <a href="javascript:history.go(-1);" ><button>Go Back</button></a>
</body> 
</html>